 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>OmniSharp is a set of tooling, editor integrations and libraries that together create an ecosystem that allows you to have a great programming experience no matter what your editor and operating system of choice may be.<p>
                </div>
                <div class="col-lg-6">
                    <p>The OmniSharp project has been made by the community for the community, While a few of us work for Microsoft, this project is a community effort and not sponsored or endorsed by Microsoft. 
The project was initially started by <a href="https://twitter.com/jasonimison">Jason Imison</a></p>
                </div>
            </div>
            <div class="row" style="padding-top:100px">
                <div class="col-lg-12 text-center">
                    <h2>We say yes!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-4">
                    <img src="/images/leader-image-1.png" class="pull-right">
                    <p>We unapologetically love .NET. We love C# and ASP.NET. We also love Sublime, Atom, Emacs, Vim and Brackets. </p>
                </div>
                <div class="col-lg-4">
                    <img src="/images/leader-image-2.png" class="pull-right">
                    <p>We create ASP.NET apps on Ubuntu and deploy to Azure. We make ASP.NET services from our Macs and deploy to Linux. </p>
                </div>
                <div class="col-lg-4">
                    <img src="/images/leader-image-3.png" class="pull-right">
                    <p>And we do all this while still using useful features like Intellisense, Add Reference, Format Document, and lots more. </p>
                </div>
            </div>
            <div class="row" style="padding-top:100px">
                <div class="col-lg-12 text-center">
                    <a href="https://github.com/omnisharp" class="btn btn-lg btn-success">
                        <i class="fa fa-github"></i> Get involved!
                    </a>
                </div>
            </div>
        </div>
    </section>
