    {% comment %} Header {% endcomment %}
    <header>
        <div class="container">
            <div class="row">
		<div class="col-lg-2"></div>
                <div class="col-lg-8">

            <div class="row console-header">
                <div class="col-lg-12">
                </div>
	    </div>
            <div class="row console-body">
                <div class="col-lg-12">
                    <img class="img-responsive" src="images/logo-text.png" alt="">
                    <hr class="star-light">
		    <h2>Cross platform .NET development!</h2>
                    <p> OmniSharp is a family of Open Source projects, each with one goal:
To enable a great .NET experience in <strong>YOUR</strong> editor of choice</p>
               </div>
            </div>


                </div>
		<div class="col-lg-2"></div>
            </div>
        </div>
    </header>
