    {% comment %} jQuery Version 1.11.0 {% endcomment %}
    <script src="{{ "/js/jquery.min.js" }}"></script>

    {% comment %} Bootstrap Core JavaScript {% endcomment %}
    <script src="{{ "/js/bootstrap.min.js" }}"></script>

    {% comment %} Plugin JavaScript {% endcomment %}
    <script src="{{ "/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "/js/classie.js" }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

    {% comment %} Contact Form JavaScript {% endcomment %}
    <script src="{{ "/js/jqBootstrapValidation.js" }}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "/js/contact_me_static.js" }}"></script>
    {% else %}
     <script src="{{ "/js/contact_me.js" }}"></script>
    {% endif %}

    {% comment %} Custom Theme JavaScript {% endcomment %}
    <script src="{{ "/js/freelancer.js" }}"></script>
